<style>
  .btn-search{
    background-color: #fe424d;
    color:#fff;
    border-radius:25rem;
    padding:0 1rem 0 1rem;
  }

  .btn-search:hover{
    background-color: #fe424d;
    color:#fff;
  }

  .btn-search i{
    display:inline;
    margin-right:0.5rem;
  }

  .search-inp{
    padding:0.5rem 3rem 0.5rem 3rem;
    font-size:1rem;
  }


</style>





<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-bus"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/listings">Explore Places!</a>  
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">
            More Options!
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/listings/survey">Survey!</a></li>
            
            <li><a class="dropdown-item" href="/listings/voucher">Get-Voucher!</a></li>
            
            <li><a class="dropdown-item" href="/listings">Home</a></li>
          </ul>
        </li>
      </ul>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" onsubmit="search(); return false;">
          <input class="form-control me-2 search-inp" id="searchInput" type="text" placeholder="Search Places" aria-label="Search">
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Put Your Place!</a>&nbsp;
        <a class="nav-link" href="/listings/survey">Survey!</a>&nbsp;
        <a class="nav-link" href="/listings/voucher">Get-Voucher!</a>&nbsp;
        <% if(!currUser){ %>
        <a class="nav-link active" aria-current="page" href="/signup"><b>signUp</b></a>
        <a class="nav-link" href="/login"><b>login</b></a>
        <% } %>

        <%if(currUser){ %>
        <a class="nav-link" href="/logout"><b>logout</b></a>   
        <% } %>     
      </div>
      
    </div>
  </div>
</nav>