<% layout('/layouts/boilerplate.ejs') -%> 


<body>
  <style>
    #filters{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .filter{
      text-align: center;
      margin-right: 2.5rem;
      margin-top: 2rem;
      opacity: 0.6 ;
    }
    .filter a{
      text-align: center;
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      opacity: 0.6 ;
    }
    .filter:hover{
      opacity: 1;
      color:#f72331;
      cursor:pointer;
    }
    .filter p{
      font-size: 0.8rem;
    }

    .filter i{
      font-size: 1.1rem;
    }

    .tax-info{
      display:none;
    }
    .tax-toggle{
      border:1px solid black;
      border-radius:1rem;
      height:3.5rem;
      padding:1rem;
      margin-left:9rem;
      margin-right:0.5rem;
      margin:auto;
      display:flex;
      align-items:center;
    }

  </style>


    <div id="filters">
      <div class="filter">
        <a href="/listings/trending">
          <div><i class="fa-solid fa-fire"></i></div>
          <p>Trending!</p>
        </a>       
      </div>
      <div class="filter">
        <a href="/listings/farms">
          <div><i class="fa-solid fa-tractor"></i></div>
          <p>Farms!</p>
        </a>
      </div>
      
      <div class="filter">
        <a href="/listings/snowflakes">
          <div><i class="fa-regular fa-snowflake"></i></div>
          <p>Snow!</p>
        </a>
      </div>
      <div class="filter">
        <a href="/listings/castles-forts">
          <div><i class="fa-brands fa-fort-awesome-alt"></i></div>
          <p>Castles!</p>
        </a>
      </div>
      <div class="filter">
        <a href="/listings/amusements">
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Amusements!</p>
        </a>        
      </div>
      <div class="filter">
        <a href="/listings/mountain">
         <div><i class="fa-solid fa-mountain"></i></div>
         <p>Mountains!</p>
        </a>
      </div>
      <a>
      </a>
      <div class="filter">
        <a href="/listings/gardens">
          <div><i class="fa-solid fa-tree"></i></div>
          <p>Gardens!</p>
        </a>
      </div>
      <div class="filter">
        <a href="/listings/seashores">
          <div><i class="fa-solid fa-umbrella-beach"></i></div>
          <p>SeaShore!</p>
        </a>        
      </div>
      <div class="filter">
        <a href="/listings/cities">
          <div><i class="fa-solid fa-city"></i></div>
          <p>cities!</p>
        </a>        
      </div>

      
      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display Places with Taxes</label>
        </div>
      </div>
    </div>
    <!-- <form method="get" action="/listings/new">
        <button>add about your resort</button>
       
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1" id="listingContainer">
        <% for(let listing of groupListing){ %>
        <a href="/listings/<%=listing._id%>" class="detail-link">
        <div class="card col card">
            <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_Image" style="height:20rem;">
            <!-- <div class="card-img-overlay"></div>
            <div class="card-body"> -->
              <h5><b><%=listing.title%></b></h5><br/>
              <p>
                &#8377; <%=listing.price.toLocaleString("en-IN")%> /day
                <i class="tax-info">&nbsp;&nbsp; <b> +18% GST!</b></i>
              </p>
              <button class="btn btn-primary">Extract Details</button> 
            <!-- </div> -->
        </div>
        </a>
        <% } %>
    </div>

    <script>
      let taxSwitch=document.getElementById("flexSwitchCheckDefault");
      taxSwitch.addEventListener("click",()=>{
        let taxInfo=document.getElementsByClassName("tax-info");
        for (info of taxInfo){
          if(info.style.display != "inline"){
            info.style.display= "inline";
          }else{
            info.style.display="none";
          }
        }
      });
    </script>
    <script src="/css/js/search.js"></script>
</body>
