
<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <div class="row">
        <h4 class="col-6 offset-3">Leave a Review:</h4>
        <div class="col-6 offset-3">
            <form  action="/listings/<%=reviewForm._id%>/reviews" method="post" novalidate class="needs-validation">
                
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating:</label>
                    <fieldset class="starability-coinFlip">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        
                        <input type="radio" id="first-rate1" name="review[rating]"  value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]"  value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]"  value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]"  value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]"  value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">comment:</label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                </div>
                <div class="invalid-feedback">
                    please share your reviews in words....
                </div>
                <button class="btn btn-outline-dark">submit</button>
            </form>    
        </div>
    </div>
</body>